body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 1.6rem;
  color: #4e6844;
}
